# ─────────────────────────────────────────────
# App
# ─────────────────────────────────────────────
PORT=3000
NODE_ENV=development

# ─────────────────────────────────────────────
# Database (Prisma)
# Replace with your actual DB connection string
# postgresql : postgresql://user:password@localhost:5432/express_db
# mysql      : mysql://user:password@localhost:3306/express_db
# sqlite     : file:./dev.db
# ─────────────────────────────────────────────
DATABASE_URL="postgresql://postgres:password@localhost:5432/express_db"
