@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Public+Sans:wght@600;700;800&family=Space+Grotesk:wght@500;700&display=swap');
@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-heading: "Public Sans", sans-serif;
  --font-mono: "Space Grotesk", monospace;
  
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-tertiary: #e3c630;
  --color-tertiary-foreground: #211b00;
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-lg: 0.75rem;
  --radius-md: 0.5rem;
  --radius-sm: 0.25rem;

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}


:root {
  --background: #111126;
  --foreground: #e2e0fd;
  --card: #1d1d33;
  --card-foreground: #e2e0fd;
  --popover: #1d1d33;
  --popover-foreground: #e2e0fd;
  --primary: #ff4c83;
  --primary-foreground: #ffffff;
  --secondary: #24ffcd;
  --secondary-foreground: #002118;
  --muted: #28283e;
  --muted-foreground: #ab888e;
  --accent: #333349;
  --accent-foreground: #e2e0fd;
  --destructive: #93000a;
  --destructive-foreground: #ffdad6;
  --border: #333349;
  --input: #19192f;
  --ring: #ffb1c0;
  
  --sidebar: #0c0c21;
  --sidebar-foreground: #e2e0fd;
  --sidebar-primary: #ff4c83;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #1d1d33;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #333349;
  --sidebar-ring: #ffb1c0;

  --radius: 0.5rem;
}

/* Force dark mode background */
html {
  background-color: #111126;
  color: #e2e0fd;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.font-heading {
  font-family: var(--font-heading);
}

.font-mono {
  font-family: var(--font-mono);
}
